{% extends 'base.html' %}


{% block content %}
<br>

<div class="container" align="center">
	<div class="row">
		{% for genre in GENRES %}
			<div class="col-sm">
				<form method="POST">{% csrf_token %}
					<button class="btn btn-info" name="book_type" type="submit" value="{{ genre }}">{{ genre }} ({{ genre.num_book }})</button>
				</form>
			</div>
		{% endfor %}
	</div>
</div>

<br>

{% if object_list %}

	{% for obj in object_list %}

		<ul>
			<li><a href="{{ obj.get_absolute_url}}">{{ obj.title}}</a> by {{ obj.author }}</li>
		</ul>

	{% endfor %}

{% else %}
	
	<p>We do not have book(s) for this genre yet. Please check this page later.</p>

{% endif %}
{% endblock %}