{% extends 'base.html' %}


{% block content %}

<style type="text/css">
	.btn-info
	{
		width: 120px;
		margin: 2px;
	}
	.scrollmenu
	{
		overflow: hidden;
		white-space: nowrap;
		height: 50px;
	}
	.scrollmenu:hover
	{
		overflow: auto;
	}
</style>
<br>


<div class="container">
	<div class="scrollmenu" align="center">
		<form class="form-inline" method="POST">{% csrf_token %}
			<div class="form-group">
				{% for genre in GENRES %}
					<button class="btn btn-info" name="book_type" type="submit" value="{{ genre }}">{{ genre }} ({{ genre.num_book }})</button>
				{% endfor %}							
			</div>
		</form>
	</div>	
</div>

<br>

{% if object_list %}

	{% for obj in object_list %}

		<ul>
			<li><a href="{{ obj.get_absolute_url}}">{{ obj.title}}</a> by {{ obj.author }}</li>
		</ul>

	{% endfor %}

{% else %}
	
	<p>We do not have book(s) for this genre yet. Please check this page later.</p>

{% endif %}
{% endblock %}