{% extends 'base.html' %}


{% block content %}

	<h3 align="center">Your Feed: {{ request.user|capfirst }}</h3>
	{% if books %}
		{% for book in books %}
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="card">
							<ul>
								<li><a href="{% url 'book:books-details' id=book.id %}">{{ book }}</a> by Author {{ book.author }} 
								<br> Referenced by user <a href="{% url 'profiles:profile-detail' username=book.user %}">{{ book.user|capfirst }}</a> </li>
							</ul>
						</div>
						<br>
					</div>
				</div>
			</div>
		{% endfor %}
	{% else %}
		<br>
		<p align="center">Please follow <a href="{% url 'profiles:profile-list' %}">user(s)</a> and/or select <a href="{% url 'list_genre' %}">genre(s)</a> for feed.</p>
	{% endif %}

{% endblock %}