{% extends 'base.html' %}


{% block content %}

	<h3 align="center">Your Feed: {{ request.user|capfirst }}</h3>
	{% if books %}
		{% for book in books %}
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="card">
							<ul>
								<li><a href="{% url 'book:books-details' id=book.id %}">{{ book }}</a> by Author {{ book.author }} 
								<br> Referenced by user <a href="{% url 'profiles:profile-detail' username=book.user %}">{{ book.user|capfirst }}</a> </li>
							</ul>
						</div>
						<br>
					</div>
				</div>
			</div>
		{% endfor %}
	{% else %}
		<br>
		<p align="center">Please follow <a href="{% url 'profiles:profile-list' %}">user(s)</a> and/or select <a href="{% url 'list_genre' %}">genre(s)</a> for feed.</p>
	{% endif %}

	<div class="container-fluid">
		<!-- <div class="row flex-row flex-nowwrap"> -->
		<div class="row">
			{% for user,is_following_users in others.items %}
				{% if is_following_users %}
					{% for obj in is_following_users %}
						<!-- The below condition will make sure that the is_followers users are not repeated and logged in user 
							is not shown as well.-->
						{% if obj not in is_following and obj.id != user_id  %}
							<div class="col-sm-3">
								<div class="card card-block">
									<div class="card-body">
										<a href="{{ obj.get_absolute_url }}">{{ obj|capfirst }} </a><br>
										<p>Followed by {{ user|capfirst }}</p>												
									</div>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endfor %} 						
		</div>
	</div>

<br>
<br>
{% endblock %}