{% extends 'base.html' %}


{% block content %}

{% if  Selected_Genre.count > 0  %}
	<div class="container">
		Your already selected genre(s).Click them to remove it.<br>
		<br>
		<div class="row">
			{% for obj in Selected_Genre %}
				<div class="col-sm">
					<form method="POST" action=".">{% csrf_token %}
						<input type="hidden" name="genre" value="{{ obj }}">
						<button class="btn btn-info" type="submit">{{ obj }}</button>
					</form>
				</div>
			{% endfor %}			
		</div>
	</div>

{% endif %}
<br>
	
<div class="container">
	You can select any of the below topics for your feed.<br>
	<br>
	<div class="row">
		{% for obj in Unselected_Genre %}
			<div class="col-sm">
				<form method="POST" action=".">{% csrf_token %}
					<input type="hidden" name="genre" value="{{ obj }}">
					<button class="btn btn-info" type="submit">{{ obj }}</button>	
				</form>
			</div>
		{% endfor %}			
	</div>
</div>
	
{% endblock %}